.buttons .button{
    display: block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 73px;
    border-radius: 4px;
    border-color: transparent;
}

.button-list {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
  
  .button-list .item + .item {
    margin-left: 8px;
}