.all h3 {
    margin-top: 20px;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--tittle-text-color)
}

.all p {
font-size: 16px;
line-height: 1.87;
}

.all__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.all__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}

.all__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all__link:hover,
.all__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
    position: relative;
    overflow: hidden ;
}

.overlay::before {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all__link:hover .overlay::before {
    opacity: 1;
    transform: translateY(0);
}
.all__link:hover .overlay .ban {
    opacity: 1;
    transform: translateY(0);
}

.overlay p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--hero-text-color);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}