.benefits__list {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-right: -30px;
  }

.benefit__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
}

.benefit__item::before {
    display: flex;
    background-size: contain;
    height: 120px;
    width: 270px;
    content: '';
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    background-color: #f5f4fa;
}

.benefit__item:nth-child(1)::before {
    background-image: url(../images/benefits/antenna.svg);
  }

.benefit__item:nth-child(2):before {
    background-image: url(../images/benefits/clock.svg);
}

.benefit__item:nth-child(3):before {
    background-image: url(../images/benefits/diagram.svg);
}

.benefit__item:nth-child(4):before {
    background-image: url(../images/benefits/astronaut.svg);
}

.benefit__tittle {
margin-top: 30px;
color: var(--tittle-text-color);
}