.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-dark-color);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}
.footer__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer__content {

    @media screen and (min-width: 768px) and (max-width: 1119px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        // flex-basis: calc((50%-45px) / 2);
    
        padding-left: 76px;
        padding-right: 89px;
      }
    
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        // padding-top: 60px;
        // padding-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: calc((50%-45px) / 2);
      }
}
.footer__adress {
    display: block;

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      align-content: center;
      text-align: center;
    }
  
    @media screen and (min-width: 768px) {
      margin: 0;
    }
  
    @media screen and (min-width: 1200px) {
      flex-basis: calc((50%-45px) / 2);
      text-align: left;
      margin: 0;
    }
}
.footer__social {
    display: block;

    @media screen and (max-width: 767px) {
        text-align: center;
        margin-bottom: 60px;
      }
    
      @media screen and (min-width: 768px) {
        flex-basis: calc(100%-76px / 2);
      }
    
      @media screen and (min-width: 1200px) {
        flex-basis: calc((50%-45px) / 2);
        text-align: left;
      }
}

.footer__social__tittle {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17px;
    color: var(--hero-text-color);
}


.subscribe {

    @media screen and (max-width: 1119px) {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
      }
    
      @media screen and (min-width: 1200px) {
        text-align: left;
        margin: 0;
      }
}
.footer__send__form {
    display: flex;

    @media screen and (max-width: 767.98px) {
        flex-direction: column;
      }
    
      @media screen and (min-width: 768px) {
        display: block;
      }
    
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
      }
}

.footer__send__field {
    width: 358px;
    height: 50px;
    padding-left: 10px;
    margin-right: 12px;
    border: 1px solid #FFFFFF4D;
    background-color: inherit;
}

.button__send {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 6%;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent-text-color);
    color: var(--hero-text-color);
    border: transparent;
    cursor: pointer; 

    @media screen and (max-width: 1119px) {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.button__send::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin-left: 10px;
    margin-right: 13px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../images/icons/send.svg);
}