.header {
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #ECECEC;

    @media screen and (min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
}

.header__link {
    @media screen and (max-width: 1119.98px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    
      @media screen and (max-width: 767.98px) {
        display: none;
      }
    
      @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        align-items: center;
      }
    
    .header__link__item + .header__link__item {
      @media screen and (max-width: 1198px) {
        margin-top: 10px;
      }
      @media screen and (min-width: 1200px) {
        margin-left: 50px;
      }
    }
}
@media screen and (min-width: 1200px) {
.header-list__item:last-child{
  margin-left: 50px;
   }
}

.header__link .icon {
    margin-right: 10px;
    fill: currentColor;
}

.header__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__link__item {
    color: var(--main-text-color--);
}